<p>Welcome, <%= @pet.person_name %>!</p>

<section class="screen--feed">
  <%= render @pet %>

  <div class="row">
    <div class="small-12 columns">
      TODAY
    </div>
  </div>

  <div class="row food">
    <% Meal.all.each do |meal| %>
      <div class="small-2 large-2 columns">
        <%= image_tag meal.image_url, class: ["draggable"], data: { meal_id: meal.id, pet_id: @pet.id } %>
      </div>
    <% end %>
    <div class="columns"></div>
  </div>
</section>

<div id="myModal" class="reveal-modal large text-center">
  <h2>You just ate <span id='food-name'>FOOD_NAME</span></h2>
  <a class="close-reveal-modal">&#215;</a>
</div>

<% content_for :dom_ready do %>
  new FeedMe();
<% end %>
