$highlight: #9acd6c
$transLight: rgba(247,245,235,.85)
$royal: #361984

$beigeLighter: #f7f5eb
$beige: #f2eedc
$beigeDarker: #dddad3
$greyLight: #f4f4f4

$lightBlue: #a1d1e2
$lightGreen: #b2cc96

$background: $beige
$border: $beigeDarker
$highlightBorder: $beigeDarker

$badColor: #ef4c23
$neutralColor: #fcd435
$goodColor: #44b649
