@import "definitions"

#journal
  div.item
    cursor: pointer

#log
  margin-top: 4px
  .tag
    background-color: $beigeLighter
    padding: 6px 10px
    margin-right: 6px
    display: inline-block
    margin-top: 8px
