$background: #f2eedc;
$card: url(/assets/bg/knit2.png);
$card2: url(/assets/bg/knit3.png);
$card3: url(/assets/bg/knit4.png);
$card4: url(/assets/bg/knit5.png);
$highlight: #9ACD6C;
$transLight: rgba(247,245,235,.85);
$beige: #F7F5EB;
$royal: #361984;
$lightPurple: #B4ACD1;
$lightBlue: #A1D1E2;
$lightGreen: #B2CC96;
$lightRed: #E2ACA1;
$coral: #ED9685;
$lilaLight: rgba(180, 172, 209, .25);

@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
          background-clip: $clip;
}

body {
	font-family: 'Didact Gothic', sans-serif;
	background: $background;
}
p {
	font-size: 1.25em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Didact Gothic', sans-serif;
	font-weight: normal;
}
fieldset {
	border: none;
	padding: none !important;
}
section[class*='screen'] {
  text-align: center;
}

.screen--main {


}
.logo {
	div:nth-child(2) {
		text-align: center;
		img:first-child {
			margin: 3em 0;
		}
	}
	div:nth-child(3) {
		text-align: right;
	}
}
.screen--character {
  .character {
    min-height: 5em;
    border-radius: 2em;
    border: .5em double $lightPurple;

  	&:nth-child(2) {
		border-color: $lightBlue;
	}
  	&:nth-child(3) {
		border-color: $lightGreen;
	}
  	&:nth-child(4) {
		border-color: $lightRed;
	}
    p {
      text-align: center;
    }
    &.selected {
	  border: .5em double $royal;
    }


    .information {
      display: none;
      background: $beige;
      border-radius: 1.75em;
	  padding: 1em;
      position: absolute;
      min-height: 5em;
      z-index: 10;

	  li {
		  list-style-type: none;
	  }
	  fieldset {
		  padding: 0 !important;
	  }
	  .label, .label label {
	  	  display: none;
	  }
	  img {
		  width: 50%;
	  }
	  #pet_name {
		  font-size: 1.25em;
		  border-radius: 20px;
	  }
	  .gender {
		  display: inline-block;
		  font-size: 1.25em;
	  }
	  .button {
		  display: block;
		  text-align: center;
		  margin: auto;
	  }
    }
  }
}

.screen--feed {
  .feed-header {
    background: $transLight;
    padding: 1em;
    div:first-child {
      	text-align: left;
    }
	div:last-child {
		text-align: center;
	}
  }



}

#justFed {
	margin-top: 12.5em !important;
}

.icon--character {
  width: 75%;
  margin: 0 auto;
}
.food, #journal {
	img {
		min-height: 4em;
		margin-bottom: 1.25em;
	}
}
#journal {
	div.meal {
		text-align: center;
		height: 150px;
		span {
			display: block;
		}
	}
}
.pop-health, .pop-money {
	padding: .75em 0;
	img {
		position: relative;
	}
}
.pop-health {
	border: .1em dashed $lightBlue;
	padding-top: .25em;
	img {
		top: 10px;
	}
}
.pop-money {
	border: .1em dashed $lightGreen;
	img {
		top: 5px;
	}
}

.draggable {
	cursor: move;
}

.reveal-modal > :first-child { margin: 0 !important; }
