#scale
  height: 60px
  position: relative
  display: inline-block

  #bar
    position: absolute
    left: 0

  #tick
    position: absolute
    left: 14px    
    width: 0 
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-top: 8px solid #2f2f2f
    font-size: 0
    line-height: 0
