body {
  background: url(/assets/geometry.png); }

fieldset {
  border: none;
  padding: none !important; }

section[class*='screen'] {
  text-align: center; }

.screen--character .character {
  min-height: 5em;
  background: url(/assets/knit2.png);
  border-radius: 2em;
  border: 0.5em double #b4acd1;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }
  .screen--character .character p {
    text-align: center; }
  .screen--character .character.selected {
    border: 0.5em double #361984;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box; }
  .screen--character .character .information {
    display: none;
    background: rgba(247, 245, 235, 0.75);
    border-radius: 1.75em;
    padding: 1em;
    position: absolute;
    min-height: 5em;
    z-index: 10; }
    .screen--character .character .information li {
      list-style-type: none; }
    .screen--character .character .information .label, .screen--character .character .information .label label {
      display: none; }

.screen--feed .feed-header {
  background: rgba(247, 245, 235, 0.75);
  padding: 1em; }
  .screen--feed .feed-header div:first-child {
    text-align: left; }
  .screen--feed .feed-header div:last-child {
    text-align: right; }

.icon--character {
  width: 75%;
  margin: 0 auto; }

.foods {
  padding: 1em;
  border-bottom: 0.1em dotted #ed9685;
  text-align: left; }
  .foods div:nth-child(4n-2) {
    text-align: center; }
