div[class*='character'] {
  background: green;
  min-height: 5em;
  border: .5em solid black; }
  div[class*='character'] img {
    border-radius: 40px; }
  div[class*='character'] p {
    text-align: center; }

section[class*='screen'] {
  height: 450px;
  background: red;
  margin-bottom: 100px; }

.screen--feed .header {
  background: black;
  padding: 1em; }
